{% extends "homepage.html" %}

{% block body %}
{% include "navbar.html" %}

<body>
    <div class="container">
      

      <div class="conteudo">
        {% for foto in fotos %}
        <a href= "{{ url_for('perfil', id_usuario=foto.id_usuario) }}" class="bloco-imagem">    <!--LINK DE LINK RELATIVO COM id.usuario RESPONSÁVEL PELO UPLOAD DA FOTO-->
          <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
        </a>
        {% endfor %} <!--ESTRUTURA FOR DENTRO DO HTML OBEDECE A REGRA DE ENCERRAMENTO DO LOOP-->
        
      </div>
    </div>
  </body>
  
{% endblock %}
